* {
  box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  margin: 1em;
  max-width: 800px;
  margin: auto;
}

a {
  color: white;
  transition: all .3s;
}

a:hover {
  color: #222;
  background-color: white;
  transition: all .3s;
  text-decoration: none;
}

h1 {
  text-align: center;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

nav ul li {
  list-style: none;
  padding: .3em 0;
  text-align: center;
}

#top-bar {
  height: 2em;
  border-bottom: 1px solid white;
  margin-top: .5em;
  margin-bottom: 2em;
  padding-bottom: 2em;
  width: 100%;
}

#top-bar a {
  text-decoration: none;
}