/*Die erste Prozentzahl gibt an, bei wie viel Prozent der Animation etwas geschehen soll.
Die zweite Prozentzahl gibt an, bei wie viel Prozent das Bild stehen bleiben soll. 
100% sind dabei eine Bildbreite, das heißt bei -100% wird um genau eine Bildbreite weitergeschoben
*/

@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

body {
    margin: auto;
    max-width: 1000px;
}

div#slider {
    overflow: hidden;
    margin: auto;
    width: 100%;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider figure {
    position: relative;
    
    /*5 Bilder, also 500%*/
    width: 500%;
    
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;

    /*Gesamtdauer hier festlegen, aktuell 30 Sekunden*/
    animation: 30s slidy infinite;
}
